In [4]:
import pandas as pd

### 1.（30%）使用pandas库的相关方法，进行数据集读取、信息处理和探索性分析。

#### Q1.（4%）读取数据集data.csv（将首列作为索引）至变量df，展示该数据集的前10行内容，并展示数据集有多少行和多少列。

In [9]:
file_path = 'data.csv'
df = pd.read_csv(file_path, index_col = 0)
print('前十行内容' + '-'*30)
print(df.head(10))
num_row, num_col = df.shape
print('行数/列数' + '-'*30)
print(num_row, num_col)

前十行内容------------------------------
    CNTRYID  CNT  CNTSCHID   CYC  NatCen  Region  STRATUM  SUBNATIO  OECD  \
1         8  ALB    800002  07MS     800     800  ALB0109     80000     0
2         8  ALB    800003  07MS     800     800  ALB0109     80000     0
3         8  ALB    800004  07MS     800     800  ALB0211     80000     0
4         8  ALB    800005  07MS     800     800  ALB0107     80000     0
5         8  ALB    800006  07MS     800     800  ALB0105     80000     0
6         8  ALB    800007  07MS     800     800  ALB0109     80000     0
7         8  ALB    800008  07MS     800     800  ALB0210     80000     0
8         8  ALB    800009  07MS     800     800  ALB0203     80000     0
9         8  ALB    800010  07MS     800     800  ALB0210     80000     0
10        8  ALB    800011  07MS     800     800  ALB0206     80000     0

    ADMINMODE  ...  EDUSHORT  STAFFSHORT  STUBEHA  TEACHBEHA  SCMCEG  \
1           2  ...    1.2478     -1.4551  -1.1797    -2.0409 -1.0391
2           2  ...    0.6221     -1.4551   2.1196     2.5150 -1.0542
3           2  ...    0.4591     -1.4551  -0.6199    -0.4415  0.9042
4           2  ...    1.3065      1.2432  -0.2682    -0.0452 -1.5648
5           2  ...   -0.2376     -1.4551  -1.3196    -2.0409  0.9042
6           2  ...    0.8339      0.0055  -3.3785    -0.9173  0.1329
7           2  ...   -1.4212     -1.4551  -2.0719    -2.0409  0.9042
8           2  ...    0.1000     -0.0963   0.6482     1.3992  0.1329
9           2  ...   -1.4212     -1.4551  -2.0719    -2.0409  0.9042
10          2  ...   -1.4212     -0.5869  -0.9148    -0.6289 -2.5190

    W_SCHGRNRABWT  W_FSTUWT_SCH_SUM     SENWT             VER_DAT  BOOKID
1         7.98891         115.10603  24.81933    09MAY19:11:20:57     NaN
2         6.50492          26.01970  20.20900    09MAY19:11:20:57     NaN
3         6.64198          99.62974  20.63480    09MAY19:11:20:57     NaN
4         5.93762          66.50133  18.44654    09MAY19:11:20:57     NaN
5        14.61508         277.68645  45.40500    09MAY19:11:20:57     NaN
6         6.50492          19.51477  20.20900    09MAY19:11:20:57     NaN
7         1.00000          12.92284   3.10672    09MAY19:11:20:57     NaN
8         1.00000         145.00000   3.10672    09MAY19:11:20:57     NaN
9         1.00000           7.81752   3.10672    09MAY19:11:20:57     NaN
10        6.74868          74.23544  20.96627    09MAY19:11:20:57     NaN

[10 rows x 197 columns]
行数/列数------------------------------
21903 197

#### Q2.（4%）数据集存在很多缺失值，输出各列缺失值的个数，并删除数据集的最后一列。基于更新后的数据，展示哪一列的缺失值最多，哪些列没有缺失值。

In [8]:
print('各列缺失值'+'-'*30)
miss_value = df.isnull().sum()
print(miss_value)
last_col = df.columns[-1]

各列缺失值------------------------------
CNTRYID                 0
CNT                     0
CNTSCHID                0
CYC                     0
NatCen                  0
                    ...
W_SCHGRNRABWT           0
W_FSTUWT_SCH_SUM        0
SENWT                   0
VER_DAT                 0
BOOKID              21903
Length: 197, dtype: int64